.friendCard {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  border: 2px solid black;
  padding: 16px;
  border-radius: 6px;
}

.online {
  color: rgb(26, 199, 26);
}

.offline {
  color: rgb(196, 38, 38);
}
